configuration {
  display-drun: "Run";
  display-window: "Windows";
  drun-display-format: "{icon} {name}";
  font: "JetBrainsMonoNerdFont 14";
  modi: "window,run,drun";
  show-icons: false;
}
@theme "solarized_alternate"
